<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
      {{> header}}
      <p>It is a project page</p>
      {{> footer}}
  </body>
</html>
